#content{
    min-height: 100vh;
}

//Home
#home-slider{
    .carousel-item{
        max-height: 500px;

        .carousel-caption{
            background-color: rgba(163, 163, 163, 0.603);
            border-radius: 1.7rem;
        }
    }
}


#home-content-section{
    text-align: center;

    .card{
        min-height: 200px;
        box-shadow: 0 0 10px grey;
    }
}