.header{
    display: flex;
    align-items: center;
    padding: 0 20px;
    height: 90px;
    background-color: rgb(255, 0, 0);

    .col-5{
        h1{
            color: white;
        } 
    }

    .col-7{
        ul{
            list-style: none;
            display: flex;
            justify-content: end;
            margin: 0;

            li{
                margin: 0 10px;

                a{
                    text-decoration: none;
                    color: white;
                    font-weight: bold;

                    &:hover{
                        color: beige;
                        text-shadow: 2px 2px black;
                    }
                }
            }
        }
    }
}


