<section class='row footer'>
    <div class='pt-3 social-box'>
        <p class="mb-2">Seguici su</p>
        <div class='social-icons'>
            <i class="fa-brands fa-facebook-f"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-whatsapp"></i>
            <i class="fa-brands fa-telegram"></i>
        </div>
    </div>
    <p class='mt-3 mb-0 fs-6'>Pizzeria "Da Zio Tonino" - 43126 Parma, Italia</p>
</section>