<section class="row footer">
    <div class="pt-3">
        <p class="mb-2">Seguici su</p>
        <div class='social-icons'>
            <i class="fa-brands fa-facebook-f"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-whatsapp"></i>
            <i class="fa-brands fa-telegram"></i>
        </div>
    </div>
</section>