
<div id="header-section">
    <div class="header-container container">
        <div class="col-5">
            <h1>Pizzeria 'Da Zio Tonino'</h1>
        </div>
        <div class="col-7">
            <nav>
                <ul>
                    <li><a href='#home'>Home</a></li>
                    <li><a href='#about'>About</a></li>
                    <li><a href='#contact'>Contact</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>




